@media (max-width: 768px) {

    header {
        flex-direction: column;
        text-align: center;
    }

    nav {
        margin-top: 10px;
    }

    .project-card {
        width: 90%;
    }

    iframe {
        width: 95%;
        height: 400px;
    }
}